*.class
*.ear
*.log
*.pid
*.pid.lock
*.seed
*.terraform*
!.terraform_validate
*.war
*tfstate*
*.klib // Kotlin/Native
appstore_debug*
minikube-linux-amd64

.gradle
.nixshell-gradle
**/.idea/.name
**/.idea/artifacts
**/.idea/caches
**/.idea/compiler.xml
**/.idea/copyright
**/.idea/ClojureProjectResolveSettings.xml
**/.idea/dataSources
**/.idea/dataSources.local.xml
**/.idea/dictionaries
**/.idea/git_toolbox_prj.xml
**/.idea/gradle.xml
**/.idea/gradle_extensions.xml
**/.idea/httpRequests
**/.idea/jarRepositories.xml
**/.idea/kotlinc.xml
**/.idea/kotlinScripting.xml
**/.idea/libraries
**/.idea/libraries-with-intellij-classes.xml
**/.idea/misc.xml
**/.idea/modules
**/.idea/modules.xml
**/.idea/saveactions_settings.xml
**/.idea/shelf
**/.idea/uiDesigner.xml
**/.idea/usage.statistics.xml
**/.idea/vcs.xml
**/.idea/workspace.xml
**/.idea/navEditor.xml
**/.idea/deploymentTargetDropDown.xml
.idea/.idea  						// because of a bug in IDEA
.idea/terraform.xml
.idea/aws.xml
.idea/forwardedPorts.xml
.idea/copilot/chatSessions
.idea/kotlin-statistics.xml

.rdo/private
.rdo/state

.teamcity/.idea

*.iml

build
node_modules
pids
server/storage_files
.vcs-hosting-cache
.vcs-hosting-cache.proxy
.vcs-hosting-storage
.lang-index-storage
.lang-index-cache
.storage
.localstack-storage
tmp
.DS_Store
**/out
*.tmp

services/router/router-server/.dumps
services/router/router-server/ssh-server-key.ecdsa

hs_err_pid*
stats.json
deployments/local/VCS-hosting/data
deployments/local/VCS-hosting/log

.sandbox
.container-registry-storage

**/local.properties
**/local.nix
**/.envrc
**/.direnv

bin
obj
server/web

.allure

electron/dist

**/*.hprof
**/*.collapsed
.teamcity/target
*.stack.properties

app/app-android/app-android-apk/buildSrc
app/app-android/app-android-apk/gradle/*.kts
app/app-android/app-android-apk/src/main/res/navigation

**/*-onprem/webpack.config.d/webpack.config.js

platform/platform-server-elastic/src/main/resources/*.json

platform/tools/space-twemoji-lib/sources
platform/tools/space-twemoji-lib/src/main/resources

client-fleet/src/commonMain/generated

.kotlin
.emb_storage
/.idea/inspectionProfiles/Project_Default.xml
